:root {
  /* ------------------------------------------------------------------------ */
  /* Layout breakpoints                                                       */
  /* ------------------------------------------------------------------------ */

  --md-layout-expanded-min: 840px;
  --md-layout-large-min: 1200px;

  /* ------------------------------------------------------------------------ */
  /* Grid                                                                      */
  /* ------------------------------------------------------------------------ */

  --md-layout-grid-columns: 12;

  --md-layout-expanded-gutter: 24px;
  --md-layout-expanded-margin: 0px;

  --md-layout-large-gutter: 24px;
  --md-layout-large-margin: 200px;
}